/* Hoja de estilos principal */

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

/* Variables */
:root{

	/* ## Colors */
	--red: hsl(0, 93%, 64%);
	--red_light: hsl(0, 100%, 79%);
	--bg_black: hsl(240, 14%, 11%);
	--black: hsl(0, 0%, 0%);
	--black_light: hsl(240, 12%, 30%);
	--white: hsl(0, 0%, 100%);

	/* Fuentes */
	--commisioner: 'Commissioner', sans-serif;
	--regular: 400;
	--bold: 800;
}

/* Botones */
.red-button {
	background-color: var(--red);
	color: var(--white);
}
.red-button:hover {
	background-color: var(--red_light);
}
.black-button {
	background-color: var(--bg_black);
	color: var(--white);
}
.black-button:hover {
	background-color: var(--black_light);
}
/* Diseño */
html {
    font-size: 16px;
    font-size: 1rem;
	font-family: var(--commisioner);
	font-weight: var(--regular);
}
.home{
	width: 100vw;
	height: 901.33vw;
}
.page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 3.25% 20.95% 17.07% 27.16% 20% 11.57%;
	grid-template-columns: 100%;
}
.masthead{
	padding: 0 6.4%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 49.24% 50.76%;
}
.masthead .logo{
	justify-self: start;
	align-self: center;
}
.masthead .menu-toggle{
	justify-self: end;
	align-self: center;
}
.masthead .menu-toggle:hover{
	cursor: pointer;
}
.masthead .main-navigation{
	grid-column: 1/3;
	display: none;
	justify-self: end;
	width: 77.06%;
	height: 193.1%;
	background-color: var(--bg_black);
	color: var(--white);
	text-align: center;
	z-index: 1;
	transition: all ease-in-out 0.5s;
}
.masthead .main-navigation ul{
	padding: 10.96% 10.56%;
	display: grid;
	grid-template-rows: repeat(3, 14.03%) 28.06%;
	grid-template-columns: 100%;
	grid-row-gap: 9.95%;
}
.masthead .main-navigation ul li{
	align-self: stretch;
	justify-self: stretch;
}
.masthead .main-navigation ul li a{
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 32px;
	line-height: 2rem;
}
.masthead .main-navigation ul li a:hover{
	cursor: pointer;
	font-weight: var(--bold);
}
.masthead .main-navigation ul li button{
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-size: 1rem;
	font-weight: var(--bold);
	background-color: var(--red);
	color: var(--white);
}
.masthead .main-navigation ul li button:hover{
	cursor: pointer;
	background-color: var(--red_light);
}
.main{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 28.25% 48.02% 23.73%;
	grid-template-columns: 100%;
}
.main .entry-thumbnail{
	justify-self: stretch;
	align-self: stretch;
}
.main .entry-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.main .entry-content{
	padding: 7.91% 6.4% 5.65%;
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 52.87% 40.98%;
	grid-template-columns: 100%;
	grid-row-gap: 6.15%;
}
.main .entry-content .entry-tittle{
	justify-self: start;
	align-self: end;
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: var(--bold);
	color: var(--black);
	line-height: 40px;
	line-height: 2.5rem;
}
.main .entry-content .entry-summary{
	justify-self: start;
	align-self: start;
	font-size: 15px;
	font-size: 0.9375rem;
	color: var(--black);
	line-height: 25px;
	line-height: 1.5625rem;
}
.main .entry-button{
	margin-left: 6.4%;
	justify-self: start;
	align-self: start;
	width: 47.2%;
	height: 42.86%;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: var(--bold);
	border: none;
}
.main .entry-button:hover{
	cursor: pointer;
	background-color: var(--red_light);
}
.entry-design{
	justify-self: stretch;
	align-self: stretch;
	background-color: var(--bg_black);
	display: grid;
	grid-template-rows: 32.06% 2.6% 2.43% 62.91%;
	grid-template-columns: 100%;
}
.entry-design .entry-thumbnail{
	grid-row: 1/3;
	grid-column: 1/2;
	justify-self: stretch;
	align-self: stretch;
}
.entry-design .entry-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.entry-design .entry-icon{
	grid-row: 2/4;
	grid-column: 1/2;
	justify-self: stretch;
	align-self: stretch;
	object-fit: contain;
	object-position: left;
	padding-left: 6.4%;
}
.entry-design .entry-content{
	grid-row: 3/5;
	grid-column: 1/2;
	padding: 12.48% 6.4%; 
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 27.47% 60.09% 12.44%;
	grid-template-columns: 100%;
}
.entry-design .entry-content .entry-tittle{
	justify-self: start;
	align-self: start;
	font-size: 32px;
	font-size: 2rem;
	font-weight: var(--bold);
	line-height: 40px;
	line-height: 2.5rem;
	color: var(--white);
}
.entry-design .entry-content .entry-tittle::before{
	content: 'Design ';
	color: var(--red);
}
.entry-design .entry-content .entry-summary{
	justify-self: start;
	align-self: start;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 25px;
	line-height: 1.5625rem;
	color: var(--white);
}
.entry-design .entry-content .entry-link{
	justify-self: start;
	align-self: start;
	height: 80.56%;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: var(--bold);
	color: var(--red);
	border-bottom: 1px solid var(--red);
}
.entry-design .entry-content .entry-link:hover{
	cursor: pointer;
	color: var(--red_light);
	border-bottom: 1px solid var(--red_light);
}
.entry-approach{
	padding: 13.22% 6.4% 6.1%;
	justify-self: stretch;
	align-self: stretch;
	background-color: var(--red);
	display: grid;
	grid-template-rows: 23.28% 76.72%;
	grid-template-columns: 100%;
	color: var(--white);
}
.entry-approach .entry-header{
	justify-self: start;
	align-self: start;
	font-size: 32px;
	font-size: 2rem;
	font-weight: var(--bold);
	line-height: 40px;
	line-height: 2.5rem;
}
.entry-approach .entry-items{
	justify-self: stretch;
	align-self: stretch;
	display:grid
}
.entry-approach .entry-item{
	justify-self: stretch;
	align-self: start;
	width: 100%;
	height: 73.54%;
	display: grid;
	grid-template-rows: 55.35% 72.33%;
	grid-template-columns: 100%;
}
.entry-approach .entry-item .entry-number{
	justify-self: start;
	align-self: start;
	font-size: 80px;
	font-size: 5rem;
	font-weight: var(--bold);
	line-height: 88px;
	line-height: 5.5rem;
	opacity: 0.25;
}
.entry-approach .entry-item .entry-description{
	justify-self: stretch;
	align-self: stretch;
	width: 95.11%;
	height: 100%;
	margin-top: -13.39%;
	display: grid;
	grid-template-rows: 34.78% 65.22%;
	grid-template-columns: 100%;
	padding-left: 4.89%;
}
.entry-approach .entry-item .entry-description .entry-tittle{
	justify-self: start;
	align-self: start;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: var(--bold);
	line-height: 25px;
	line-height: 1.5625rem;
}
.entry-approach .entry-item .entry-description .entry-summary{
	justify-self: start;
	align-self: start;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 25px;
	line-height: 1.5625rem;
}
.entry-projects{
	justify-self: stretch;
	align-self: stretch;
	background-color: var(--bg_black);
	color: var(--white);
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
}
.entry-projects .entry-project{
	justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 49.11% 10.65% 40.23%;
	grid-template-columns: 100%;
}
.entry-projects .entry-project .entry-thumbnail{
	display:inline-block;
	grid-row: 1/3;
	grid-column: 1/2;
	justify-self: stretch;
	align-self: stretch;
}
.entry-projects .entry-project .entry-thumbnail img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.entry-projects .entry-project .entry-image-description{
	grid-row: 2/3;
	grid-column: 1/2;
	justify-self: end;
	align-self: start;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 100%;
	padding-right: 8.53%;
}
.entry-projects .entry-project .entry-image-description .entry-tittle{
	justify-self: end;
	font-size: 15px;
	font-size: 0.9375rem;
	font-weight: var(--bold);
	line-height: 20px;
	line-height: 1.25rem;
	opacity: 0.9;
}
.entry-projects .entry-project .entry-image-description .entry-subtittle{
	justify-self: end;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 20px;
	line-height: 1.25rem;
	opacity: 0.9;
}
.entry-projects .entry-project .entry-content{
	grid-row: 3/4;
	grid-column: 1/2;
	justify-self: stretch;
	align-self: stretch;
	padding: 9.47% 6.4%;
	display: grid;
	grid-template-rows: 55.56% 27.78%;
	grid-template-columns: 100%;
	grid-row-gap: 16.66%;
}
.entry-projects .entry-project .entry-content .entry-tittle{
	justify-self: start;
	align-self: end;
	font-size: 32px;
	font-size: 2rem;
	font-weight: var(--bold);
	line-height: 40px;
	line-height: 2.5rem;
}
.entry-projects .entry-project .entry-content .entry-buttons{
	justify-self: start;
	align-self: start;
	width: 96px;
	height: 100%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 16px;
}
.entry-projects .entry-project .entry-content .entry-buttons button{
	background-color: var(--bg_black);
}
.entry-projects .entry-project .entry-content .entry-buttons button:hover{
	cursor: pointer;
}
.entry-projects .entry-project .entry-content .entry-buttons button svg{
	object-fit: contain;
	object-position: center;
}
.entry-projects .entry-project .entry-content .entry-buttons svg:hover g{
	stroke: var(--red_light);
}
.footer{
	justify-self: stretch;
	align-self: stretch;
	padding: 25.56% 6.4%;
	display: grid;
	grid-template-rows: 41.88% 33.51%;
	grid-template-columns: 100%;
	grid-row-gap: 24.61%;
}
.footer .entry-tittle{
	justify-self: start;
	align-self: start;
	font-size: 32px;
	font-size: 2rem;
	font-weight: var(--bold);
	line-height: 40px;
	line-height: 2.5rem;
}
.footer .entry-button{
	justify-self: start;
	align-self: start;
	width: 60.86%;
	height: 100%;
	font-size: 16px;
	font-size: 1rem;
	font-weight: var(--bold);
}
.footer .entry-icon{
	display: none;
}
/* 
##Device = Mobiles
##Screen = narrow screens
*/
@media (max-width: 320px) {
	.masthead .main-navigation ul li a{
		font-size: 16px;
		font-size: 1rem;
		line-height: 30px;
		line-height: 1.875rem;
	}
	.masthead .main-navigation ul li button{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.main .entry-content .entry-tittle{
		font-size: 32px;
		font-size: 2rem;
		line-height: 32px;
		line-height: 2rem;
	}
	.main .entry-content .entry-summary{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
	.main .entry-button{
		font-size: 14px;
		font-size: 0.875rem;
	}
	.entry-design .entry-content .entry-tittle{
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 34px;
		line-height: 2.125rem;
	}
	.entry-design .entry-content .entry-summary{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
	.entry-design .entry-content .entry-link{
		font-size: 12px;
		font-size: 0.75rem;
	}
	.entry-approach .entry-header{
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 34px;
		line-height: 2.125rem;
	}
	.entry-approach .entry-item .entry-number{
		font-size: 74px;
		font-size: 4.625rem;
		line-height: 82px;
		line-height: 5.125rem;
	}
	.entry-approach .entry-item .entry-description .entry-tittle{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
	.entry-approach .entry-item .entry-description .entry-summary{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 22px;
		line-height: 1.375rem;
	}
	.entry-projects .entry-project .entry-image-description .entry-tittle{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 17px;
		line-height: 1.0625rem;
	}
	.entry-projects .entry-project .entry-image-description .entry-subtittle{
		font-size: 12px;
		font-size: 0.75rem;
		line-height: 17px;
		line-height: 1.0625rem;
	}
	.entry-projects .entry-project .entry-content .entry-tittle{
		font-size: 26px;
		font-size: 1.625rem;
		line-height: 34px;
		line-height: 2.125rem;
	}
	.footer .entry-tittle{
		font-size: 22px;
		font-size: 1.375rem;
		line-height: 30px;
		line-height: 1.875rem;
	}
	.footer .entry-button{
		font-size: 12px;
		font-size: 0.75rem;
	}
}
/* 
  ##Device = Tablets, Ipads
  ##Screen = B/w 768px to 1024px
*/
 @media (min-width: 768px) {
	.home{
		width: 100vw;
		height: 370.05vw;
	}
	.page{
		grid-template-rows: 6.26% 21.32% 23.15% 23.82% 16.61% 8.84%;
	}
	.masthead{
		padding: 0;
		grid-template-columns: 42.97% 57.03%;
	}
	.masthead .logo{
		justify-self: start;
		align-self: center;
		padding-left: 5.21%;
	}
	.masthead .menu-toggle{
		display: none;
	}
	.masthead .main-navigation{
		grid-row: 1/2;
		grid-column: 2/3;
		display: grid;
		justify-self: stretch;
		align-self: stretch;
		width: 100%;
		height: 100%;
		background-color: var(--red);
		color: var(--white);
	}
	.masthead .main-navigation ul{
		padding: 0 7.53%;
		align-self: stretch;
		justify-self: stretch;
		display: grid;
		grid-template-columns: repeat(3, 17.03%) 34.06%;
		grid-template-rows: 100%;
		grid-column-gap: 4.95%;
	}
	.masthead .main-navigation ul li{
		align-self: stretch;
		justify-self: stretch;
		display: grid;
	}
	.masthead .main-navigation ul li a{
		align-self: center;
		font-size: 15px;
		font-size: 0.9375rem;
	}
	.masthead .main-navigation ul li button{
		align-self: center;
		background-color: var(--bg_black);
		height: 35.96%;
	}
	.masthead .main-navigation ul li button:hover{
		cursor: pointer;
		background-color: var(--black_light);
	}
	.main{
		grid-template-rows: 63.37% 36.63%;
		grid-template-columns: 42.97% 13.93% 43.9%;
	}
	.main .entry-thumbnail{
		grid-row: 1/3;
		grid-column: 2/4;
		justify-self: stretch;
		align-self: stretch;
	}
	.main .entry-content{
		grid-row: 1/2;
		grid-column: 1/3;
		padding: 12.7% 5.21% 0;
		grid-template-rows: 58.96% 34.85%;
		grid-row-gap: 6.19%;
	}
	.main .entry-content .entry-tittle{
		font-size: 56px;
		font-size: 3.5rem;
		line-height: 56px;
		line-height: 3.5rem;
	}
	.main .entry-button{
		grid-row: 2/3;
		grid-column: 1/2;
		width: 53.64%;
		height: 32.43%;
	}
	.entry-design{
		grid-template-rows: 81.73% 18.27%;
		grid-template-columns: 45.18% 4.04% 4.04% 46.74%;
	}
	.entry-design .entry-thumbnail{
		grid-row: 1/3;
		grid-column: 1/3;
		justify-self: stretch;
		align-self: stretch;
	}
	.entry-design .entry-icon{
		grid-row: 1/2;
		grid-column: 2/4;
		align-self: stretch;
		justify-self: stretch;
		object-fit: contain;
		object-position: center 26.95%;
		padding-left: 0%;
	}
	.entry-design .entry-content{
		grid-row: 1/2;
		grid-column: 3/5;
		padding: 26.95% 11.26% 26.95% 17.69%;
		grid-template-rows: 26.85% 41.95% 9.73%;
		grid-row-gap: 10.735%;
	}
	.entry-design .entry-content .entry-link{
		width: auto;
		height: 100%;
	}
	.entry-approach{
		padding: 0;
		grid-template-rows: 100%;
		grid-template-columns: 42.97% 57.03%;
	}
	.entry-approach .entry-header{
		padding: 27.42% 0 0 11.82%;
		justify-self: stretch;
		align-self: stretch;
		height: 100%;
		width: 100%;
		background-color: var(--white);
		color: var(--black);
	}
	.entry-approach .entry-items{
		justify-self: stretch;
		align-self: stretch;
		margin-top: -27.42%;
		background-color: var(--red);
		padding: 27.42% 9.82%;
		display: grid;
		grid-template-rows: repeat(3, 28.55%);
		grid-template-columns: 100%;
		grid-row-gap: 7.175%;
	}
	.entry-approach .entry-item{
		align-self: stretch;
		justify-self: stretch;
		height: 100%;
	}
	.entry-approach .entry-item .entry-description{
		justify-self: stretch;
		align-self: stretch;
		width: 100%;
		height: 100%;
	}
	.entry-projects .entry-project{
		justify-self: stretch;
		align-self: stretch;
		display: grid;
		grid-template-rows: 74.58% 25.42%;
		grid-template-columns: 42.97% 3.75% 4.04% 4.04% 45.2%;
		background-color: var(--white);
	}
	.entry-projects .entry-project .entry-thumbnail{
		grid-row: 1/3;
		grid-column: 2/6;
	}
	.entry-projects .entry-project .entry-thumbnail img{
		opacity: 1;
	}
	.entry-projects .entry-project .entry-icon{
		grid-row: 1/3;
		grid-column: 3/5;
		align-self: stretch;
		justify-self: stretch;
		object-fit: contain;
		object-position: center 26.95%;
		transform: rotateY(180deg);
	}
	.entry-projects .entry-project .entry-image-description{
		grid-row: 2/3;
		grid-column: 2/6;
		align-self: center;
		padding-right: 9.13%;
	}
	.entry-projects .entry-project .entry-content{
		grid-row: 1/2;
		grid-column: 1/4;
		padding: 28.4% 10%;
		background-color: var(--bg_black);
	}
	.footer{
		padding: 0;
		grid-template-rows: 100%;
		grid-template-columns: 57.76% 28.88%;
		grid-row-gap: 0;
		grid-column-gap: 13.36%;
		margin-top: 10.99%;
		padding: 0 5.75%;
		height: 31.75%;
	}
	.footer .entry-tittle{
		justify-self: start;
		align-self: center;
		font-size: 32px;
		font-size: 2rem;
		font-weight: var(--bold);
		line-height: 40px;
		line-height: 2.5rem;
	}
	.footer .entry-button{
		justify-self: stretch;
		align-self: center;
		width: 100%;
		height: 80%;
	}
 }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px){
	.home{
		width: 100vw;
		height: 274.86vw;
	}
	.page{
		grid-template-rows: 4.5% 20.21% 24.86% 22.74% 18.39% 9.3%;
	}
	.masthead{
		padding: 0;
		grid-template-columns: 51.04% 48.96%;
	}
	.masthead .logo{
		padding-left: 23.4%;
	}
	.masthead .main-navigation{
		grid-row: 1/2;
		grid-column: 2/3;
		display: grid;
		justify-self: stretch;
		align-self: stretch;
		width: 100%;
		height: 100%;
		background-color: var(--red);
		color: var(--white);
	}
	.masthead .main-navigation ul{
		padding: 0 23.4% 0 9.79%;
		align-self: stretch;
		justify-self: stretch;
		display: grid;
		grid-template-columns: repeat(3, 14.3%) 42.25%;
		grid-template-rows: 100%;
		grid-column-gap: 4.95%;
	}
	.masthead .main-navigation ul li a{
		font-size: 16px;
		font-size: 1rem;
	}
	.main{
		grid-template-rows: 71% 29%;
		grid-template-columns: 37.85% 24.31% 37.84%;
	}
	.main .entry-thumbnail{
		grid-row: 1/3;
		grid-column: 2/4;
	}
	.main .entry-content{
		grid-row: 1/2;
		grid-column: 1/3;
		padding: 12.8% 1% 0 18.45%;
		grid-template-rows: 58.96% 34.85%;
		grid-row-gap: 6.19%;
	}
	.main .entry-content .entry-tittle{
		font-size: 80px;
		font-size: 5rem;
		line-height: 88px;
		line-height: 5.5rem;
	}
	.main .entry-content .entry-summary{
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 32px;
		line-height: 2rem;
		width: 73.97%;
	}
	.main .entry-button{
		grid-row: 2/3;
		grid-column: 1/3;
		width: 24.25%;
		height: 32.43%;
		margin-left: 18.45%;
	}
	.entry-design{
		grid-template-rows: 79.67% 20.33%;
		grid-template-columns: 46.39% 4.69% 4.69% 44.23%;
	}
	.entry-design .entry-thumbnail{
		grid-row: 1/3;
		grid-column: 1/3;
		justify-self: stretch;
		align-self: stretch;
	}
	.entry-design .entry-thumbnail img{
		opacity: 0.78;
	}
	.entry-design:hover .entry-thumbnail img{
		opacity: 1;
	}
	.entry-design .entry-icon{
		object-position: center 29.85%;
		opacity: 0.99;
	}
	.entry-design .entry-content{
		padding: 25.51% 15.04% 25.51% 21.84%;
		grid-template-rows: 34.64% 33.34% 8.34%;
		grid-row-gap: 11.84%;
	}
	.entry-design .entry-content .entry-tittle{
		align-self: start;
		font-size: 56px;
		font-size: 3.5rem;
		line-height: 64px;
		line-height: 4rem;
	}
	.entry-design .entry-content .entry-summary{
		align-self: start;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 32px;
		line-height: 2rem;
	}
	.entry-design .entry-content .entry-link{
		height: 91%;
		font-size: 18px;
		font-size: 1.125rem;
	}
	.entry-approach{
		grid-template-columns: 37.85% 11.11% 51.04%;
		opacity: 0.99;
	}
	.entry-approach .entry-header{
		grid-row: 1/2;
		grid-column: 1/3;
		padding: 22.22% 4.08% 56.44% 22.45%;
		font-size: 56px;
		font-size: 3.5rem;
		line-height: 64px;
		line-height: 4rem;
		z-index: 10;
		background: linear-gradient(
		to right,
		var(--white) 0%,
		var(--white) 77.308%,
		var(--red) 77.308%,
		var(--red) 100%
		);
	}
	.entry-approach .entry-items{
		grid-row: 1/2;
		grid-column: 2/4;
		margin-top: -22.35%;
		padding: 22.35% 11.84% 22.35% 31.84%;
	}
	.entry-approach .entry-item .entry-description .entry-tittle{
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 32px;
		line-height: 2rem;
	}
	.entry-approach .entry-item .entry-description .entry-summary{
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 32px;
		line-height: 2rem;
	}
	.entry-projects .entry-project .entry-image-description{
		padding-right: 17.21%;
	}
	.entry-projects .entry-project .entry-image-description .entry-tittle{
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 32px;
		line-height: 2rem;
	}
	.entry-projects .entry-project .entry-image-description .entry-subtittle{
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 32px;
		line-height: 2rem;
	}
	.entry-projects .entry-project .entry-icon{
		transform: rotateY(0deg);
	}
	.entry-projects .entry-project .entry-content{
		padding: 20.88% 17.01% 20.88% 22.45%;
	}
	.entry-projects .entry-project .entry-content .entry-tittle{
		font-size: 56px;
		font-size: 3.5rem;
		line-height: 64px;
		line-height: 4rem;
	}
	.footer{
		justify-self: stretch;
		align-self: stretch;
		grid-template-columns: 11.46% 63.26% 25.28%;
		grid-column-gap: 0;
		padding: 0;
		height: 100%;
		margin: 0;
	}
	.footer .entry-tittle{
		grid-row: 1/2;
		grid-column: 2/3;
		font-size: 56px;
		font-size: 3.5rem;
		line-height: 64px;
		line-height: 4rem;
		padding-right: 30.22%
	}
	.footer .entry-button{
		grid-row: 1/2;
		grid-column: 3/4;
		width: 54.67%;
		height: 17.39%;
	}
	.footer .entry-icon{
		display: grid;
		grid-row: 1/2;
		grid-column: 1/2;
		align-self: center;
		justify-self: start;
		width: 81.21%;
		height: auto;
		object-fit: contain;
		margin-left: -40.61%
	}
	
}
/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}